In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv("nv.csv")

In [4]:
p=df.shape
p

(14, 5)

In [5]:
q=p[1]
q

5

In [6]:
y=df["Plat Tennis"]
k=0
p=0
for i in y:
    if(i=="yes"):
        k=k+1
    else:
        p=p+1
a_yes=k/len(y)
a_no=p/len(y)
print(a_yes)
print(a_no)

0.6428571428571429
0.35714285714285715

In [7]:
x=df["outlook"]
y=df["Plat Tennis"]
p=0
q=0
r=0
s=0
t=0
u=0
for i in x:
    for j in y:
        if(i=="Sunny"):
            if(j=="yes"):
                p=p+1
            else:
                q=q+1
        elif(i=="overcast"):
            if(j=="yes"):
                r=r+1
            else:
                s=s+1
        elif(i=="Rain"):
             if(j=="yes"):
                t=t+1
             else:
                 u=u+1
        else:
            pass
sy=p/len(x)
sn=q/len(x)
oy=r/len(x)
on=s/len(x)
ry=t/len(x)
rn=u/len(x)
print(sy)
print(sn)
print(oy)
print(on)
print(ry)
print(rn)

3.2142857142857144
1.7857142857142858
2.5714285714285716
1.4285714285714286
3.2142857142857144
1.7857142857142858

In [8]:
df

     outlook  temp Humidity    Wind Plat Tennis
0      Sunny   hot     high    weak          no
1      Sunny   hot     high  strong          no
2   overcast   hot     high    weak         yes
3       Rain  mild     high    weak         yes
4       Rain  cool   normal    weak         yes
5       Rain  cool   normal  strong          no
6   overcast  cool   normal  strong         yes
7      Sunny  mild     high    weak          no
8      Sunny  cool   normal    weak         yes
9       Rain  mild   normal    weak         yes
10     Sunny  mild   normal  strong         yes
11  overcast  mild     high  strong         yes
12  overcast   hot   normal    weak         yes
13      Rain  mild     high  strong          no

In [9]:
y=df["Plat Tennis"]

In [10]:
a=[]
b=[]
for i in range(0,4):
    c=df.columns[i]
    d=set(df[c])
    d=list(d)
    a.append("name")
    a.append(c)
    b.append("name")
    b.append(c)
    
    for e in d:
        f=0
        a.append(e)
        b.append(e)
        g=0
        h=0
        
        for i in range(0,14):
            if(df[c][i]==e):
                f=f+1
                if(y[i]=="yes"):
                    g=g+1
                elif(y[i]=="no"):
                    h=h+1
        a.append(f)
        b.append("yes")
        b.append(g)
        b.append("no")
        b.append(h)
                
print(a)
print(b)

['name', 'outlook', 'Sunny', 5, 'Rain', 5, 'overcast', 4, 'name', 'temp', 'hot', 4, 'cool', 4, 'mild', 6, 'name', 'Humidity', 'high', 7, 'normal', 7, 'name', 'Wind', 'strong', 6, 'weak', 8]
['name', 'outlook', 'Sunny', 'yes', 2, 'no', 3, 'Rain', 'yes', 3, 'no', 2, 'overcast', 'yes', 4, 'no', 0, 'name', 'temp', 'hot', 'yes', 2, 'no', 2, 'cool', 'yes', 3, 'no', 1, 'mild', 'yes', 4, 'no', 2, 'name', 'Humidity', 'high', 'yes', 3, 'no', 4, 'normal', 'yes', 6, 'no', 1, 'name', 'Wind', 'strong', 'yes', 3, 'no', 3, 'weak', 'yes', 6, 'no', 2]

In [11]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Plat Tennis, dtype: object

In [12]:
a=[]
b=[]
z={}
h=[]
for i in range(0,4):
    c=df.columns[i]
    a.append(c)
    d=set(df[c])
    d=list(d)
    
    for j in d:
        b.append({j})
        p=0
        q=0
        r=0
        w=0
        
        for k in range(0,14):
            if(df[c][k]==j):
                p=p+1
                if(y[k]=="yes"):
                    q=q+1
                    w=w+1
                
                elif(y[k]=="no"):
                    r=r+1
                    
        z.update({j:[p,q,r]})
        b.append(p)
        b.append("yes")
        b.append(q)
        b.append("no")
        b.append(r)
        h.append(w)
        
    print(a)
    print(b)
    print("no. of time yes",h)
    
    
    a.clear()
    b.clear()
    h.clear()

['outlook']
[{'Sunny'}, 5, 'yes', 2, 'no', 3, {'Rain'}, 5, 'yes', 3, 'no', 2, {'overcast'}, 4, 'yes', 4, 'no', 0]
no. of time yes [2, 3, 4]
['temp']
[{'hot'}, 4, 'yes', 2, 'no', 2, {'cool'}, 4, 'yes', 3, 'no', 1, {'mild'}, 6, 'yes', 4, 'no', 2]
no. of time yes [2, 3, 4]
['Humidity']
[{'high'}, 7, 'yes', 3, 'no', 4, {'normal'}, 7, 'yes', 6, 'no', 1]
no. of time yes [3, 6]
['Wind']
[{'strong'}, 6, 'yes', 3, 'no', 3, {'weak'}, 8, 'yes', 6, 'no', 2]
no. of time yes [3, 6]

In [13]:
z

{'Sunny': [5, 2, 3],
 'Rain': [5, 3, 2],
 'overcast': [4, 4, 0],
 'hot': [4, 2, 2],
 'cool': [4, 3, 1],
 'mild': [6, 4, 2],
 'high': [7, 3, 4],
 'normal': [7, 6, 1],
 'strong': [6, 3, 3],
 'weak': [8, 6, 2]}

In [14]:
df2=pd.DataFrame(z,index=["no.of times","yes","no"])

In [15]:
df2

,Sunny,Rain,overcast,hot,cool,mild,high,normal,strong,weak
no.of times,5,5,4,4,4,6,7,7,6,8
yes,2,3,4,2,3,4,3,6,3,6
no,3,2,0,2,1,2,4,1,3,2

In [16]:
df2.shape

(3, 10)

In [17]:
rain_y=3/9
rain_y

0.3333333333333333

In [18]:
rain_n=2/5
rain_n

0.4

In [19]:
sunny_y=2/9
sunny_y

0.2222222222222222

In [20]:
sunny_n=3/5
sunny_n

0.6

In [21]:
overcast_y=4/9
overcast_y

0.4444444444444444

In [22]:
cool_y=3/9
cool_y

0.3333333333333333

In [23]:
cool_n=1/5
cool_n

0.2

In [24]:
hot_y=2/9
hot_y

0.2222222222222222

In [25]:
hot_n=2/5
hot_n

0.4

In [26]:
mild_y=4/9
mild_y

0.4444444444444444

In [27]:
mild_n=2/5
mild_n

0.4

In [28]:
high_y=3/9
high_y

0.3333333333333333

In [29]:
high_n=4/5
high_n

0.8

In [30]:
normal_y=6/9
normal_y

0.6666666666666666

In [31]:
normal_n=1/5
normal_n

0.2

In [32]:
weak_y=6/9
weak_y

0.6666666666666666

In [33]:
weak_n=2/5
weak_n

0.4

In [34]:
strong_y=3/9
strong_y

0.3333333333333333

In [35]:
strong_n=3/5
strong_n

0.6

In [36]:
a1=sunny_y*hot_y*high_y*weak_y*a_yes
a1

0.007054673721340387

In [37]:
a2=sunny_n*hot_n*high_n*weak_n*a_no
a2

0.02742857142857143

In [38]:
b1=sunny_y*hot_y*high_y*strong_y*a_yes
b1

0.0035273368606701934

In [39]:
b2=sunny_n*hot_n*high_n*strong_n*a_no
b2

0.04114285714285714

In [40]:
c1=overcast_y*hot_y*high_y*weak_y*a_yes
c1

0.014109347442680773

In [41]:
c2=0

In [42]:
d1=rain_y*mild_y*high_y*weak_y*a_yes
d1

0.021164021164021163

In [43]:
d2=rain_n*mild_n*high_n*weak_n*a_no
d2

0.01828571428571429

In [44]:
e1=rain_y*cool_y*normal_y*weak_y*a_yes
e1

0.031746031746031744

In [45]:
e2=rain_n*cool_n*normal_n*weak_n*a_no
e2

0.0022857142857142863

In [46]:
f1=rain_y*cool_y*normal_y*strong_y*a_yes
f1

0.015873015873015872

In [47]:
f2=rain_n*cool_n*normal_n*strong_n*a_no
f2

0.0034285714285714297

In [48]:
g1=overcast_y*cool_y*normal_y*strong_y*a_yes
g1

0.021164021164021163

In [49]:
g2=0

In [50]:
h1=sunny_y*mild_y*high_y*weak_y*a_yes
h1

0.014109347442680773

In [51]:
h2=sunny_n*mild_n*high_n*weak_n*a_no
h2

0.02742857142857143

In [52]:
i1=sunny_y*cool_y*normal_y*weak_y*a_yes
i1

0.021164021164021163

In [53]:
i2=sunny_n*cool_n*normal_n*weak_n*a_no
i2

0.003428571428571429

In [54]:
j1=rain_y*mild_y*normal_y*weak_y*a_yes
j1

0.042328042328042326

In [55]:
j2=rain_n*mild_n*normal_n*weak_n*a_no
j2

0.004571428571428573

In [56]:
k1=sunny_y*mild_y*normal_y*strong_y*a_yes
k1

0.014109347442680773

In [57]:
k2=sunny_n*mild_n*normal_n*strong_n*a_no
k2

0.010285714285714285

In [58]:
l1=overcast_y*mild_y*high_y*strong_y*a_yes
l1

0.014109347442680773

In [59]:
l2=0

In [60]:
m1=overcast_y*hot_y*normal_y*weak_y*a_yes
m1

0.028218694885361547

In [61]:
m2=0

In [62]:
n1=rain_y*mild_y*high_y*strong_y*a_yes
n1

0.010582010582010581

In [63]:
n2=rain_n*mild_n*high_n*strong_n*a_no
n2

0.027428571428571438

In [64]:
x=(a1,b1,c1,d1,e1,f1,g1,h1,i1,j1,k1,l1,m1,n1)
x

(0.007054673721340387,
 0.0035273368606701934,
 0.014109347442680773,
 0.021164021164021163,
 0.031746031746031744,
 0.015873015873015872,
 0.021164021164021163,
 0.014109347442680773,
 0.021164021164021163,
 0.042328042328042326,
 0.014109347442680773,
 0.014109347442680773,
 0.028218694885361547,
 0.010582010582010581)

In [65]:
y=(a2,b2,c2,d2,e2,f2,g2,h2,i2,j2,k2,l2,m2,n2)
y

(0.02742857142857143,
 0.04114285714285714,
 0,
 0.01828571428571429,
 0.0022857142857142863,
 0.0034285714285714297,
 0,
 0.02742857142857143,
 0.003428571428571429,
 0.004571428571428573,
 0.010285714285714285,
 0,
 0,
 0.027428571428571438)

In [66]:
df["prob of yes"]=x

In [67]:
df["prob of no"]=y

In [68]:
df

     outlook  temp Humidity    Wind Plat Tennis  prob of yes  prob of no
0      Sunny   hot     high    weak          no     0.007055    0.027429
1      Sunny   hot     high  strong          no     0.003527    0.041143
2   overcast   hot     high    weak         yes     0.014109    0.000000
3       Rain  mild     high    weak         yes     0.021164    0.018286
4       Rain  cool   normal    weak         yes     0.031746    0.002286
5       Rain  cool   normal  strong          no     0.015873    0.003429
6   overcast  cool   normal  strong         yes     0.021164    0.000000
7      Sunny  mild     high    weak          no     0.014109    0.027429
8      Sunny  cool   normal    weak         yes     0.021164    0.003429
9       Rain  mild   normal    weak         yes     0.042328    0.004571
10     Sunny  mild   normal  strong         yes     0.014109    0.010286
11  overcast  mild     high  strong         yes     0.014109    0.000000
12  overcast   hot   normal    weak         yes     0.028219    0.000000
13      Rain  mild     high  strong          no     0.010582    0.027429